<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Imagenes por directorio" stopProcessing="true">
					<match url="^.*\/img\/(.+)" />
					<action type="Rewrite" url="\img\{R:1}" />
				</rule>
				<rule name="Facturas" stopProcessing="true">
					<match url="^.*Factura\.pdf$" />
					<action type="Rewrite" url="\factura_pdf.php" />
				</rule>
				<rule name="Error 404" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="\motor.php" />
				</rule>
			</rules>
		</rewrite>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="240:00:00" />
		</staticContent>
	</system.webServer>
</configuration>

